   #rigister-max {
       height: 560px;
       width: 1000px;
       margin: auto;

   }

   #rigister-max-top {
       height: 40px;
       width: 800px;
       margin: auto;
       background: #cccc99;
   }

   #rigister-max-center {

       height: 440px;
       width: 800px;
       margin: auto;
       background: #F9F9F9;
   }

   #rigister-top {
       height: 80px;
       width: 800px;
       margin: auto;
       background: #cccc99;
   }

   #login {
       width: 240px;
       position: relative;
       top: 150px;
       left: 280px;
   }